---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'Re.Man Srl',
  description: 'Presto Online - L\'impresa edile per le tue ristrutturazioni e costruzioni.',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Presto Online</h1>
      <p class="fade-in">Come ogni buon progetto, anche questo richiede solide fondamenta.</p>
      <!--<SignupForm />-->
    </article>
  </Container>
</Layout>

